/* indie-flower-regular - latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/indie-flower-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Indie Flower'), local('IndieFlower'),
       url('../fonts/indie-flower-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/indie-flower-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/indie-flower-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/indie-flower-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/indie-flower-v8-latin-regular.svg#IndieFlower') format('svg'); /* Legacy iOS */
}

body {
  color: #ccc;
  background: black;
  font-family: "Raleway", "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 > small {
  font-size: 2rem;
  color: #c11618;
}

.main img {
  max-width: 100%;
  box-shadow: 0 0 1rem black;
}

.main {
  margin-top: 2rem;
}

.first.supercontainer {
  background: url(/images/nosplash/osman-rana-182134.jpg) fixed no-repeat center/cover;
  padding-bottom: 2rem;
}

.second.supercontainer {
  padding-top: 2rem;
  box-shadow: 0 0 1rem black;
}

h1, h4 {
  font-family: 'Indie Flower', cursive;
}

footer {
  color: #888;
  margin-bottom: 2rem;
}

code {
  background: #222;
  border: 1px solid #aaaaaa;
}

.btn {
  font-family: 'Indie Flower', cursive;
  display: inline-block;
  cursor: default;
  text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
  border-radius: 1rem;;
  background: #4a4a4a;
  color: white;
  padding: 1rem;
  font-size: 2rem;;
  text-decoration: none;
  box-shadow: 0 5px 0 #2b2b2b;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all .2s;
  background: -moz-linear-gradient(top, #5e5e5e 0%, #4a4a4a 100%);
  background: -webkit-linear-gradient(top, #5e5e5e 0%,#4a4a4a 100%);
  background: linear-gradient(to bottom, #5e5e5e 0%,#4a4a4a 100%);
}

.btn:hover {
  color: white;
  box-shadow: 0 3px 0 #2b2b2b;
  margin-top: 22px;
  margin-bottom: 18px;
  transition: all .2s;
}

.btn:active {
  box-shadow: 0 0px 0 #2b2b2b;
  margin-top: 25px;
  margin-bottom: 15px;
  transition: all .2s;
}
